@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 4px;
    height: 2px;
	margin-right: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

:root {
    --border-radius: 5px;
    --margin-spacing: 1rem;
    --ease-animate: 0.25s ease;

    --calc-operation-clearall-btn: #9b59b6;
    --calc-operation-clearall-btn-border: #8f4baa;
    --calc-operation-clearall-text: #fff;
    --calc-operation-clearall-btn-hover: #8f4baa;
    --calc-operation-clearall-btn-hover-border: #773e8e;

    --calc-operation-equals-btn: #2980b9;
    --calc-operation-equals-btn-border: #2470a3;
    --calc-operation-equals-text: #fff;
    --calc-operation-equals-btn-hover: #2470a3;
    --calc-operation-equals-btn-hover-border: ##1f628e;
}
  
@media (prefers-color-scheme: light) {
    :root {
        --scheme-body-background: #fff;
        --scheme-body-text: #000;

        --scheme-display-background-colour: #f3f3f3;
        --scheme-display-text-colour: #000;
        --scheme-calc-number-btn: #ecf0f1;
        --scheme-calc-number-text: #000;
        --scheme-calc-number-btn-border: #e6e6e6;
        --scheme-calc-number-btn-hover: #e6e6e6;
        --scheme-calc-number-btn-hover-border: #d9d9d9;
        --scheme-calc-operation-btn: #fa3;
        --scheme-calc-operation-btn-border: #ff9b0f;
        --scheme-calc-operation-btn-hover: #ff9b0f;
        --scheme-calc-operation-btn-hover-border: #f58f00;
        --scheme-calc-operation-text: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --scheme-body-background: #0F044C;
        --scheme-body-text: #fff;

        --scheme-display-background-colour: #362222;
        --scheme-display-text-colour: #dedede;

        --scheme-calc-number-btn: #726A95;
        --scheme-calc-number-btn-border: #726A95;
        --scheme-calc-number-text: #fff;

        --scheme-calc-operation-btn: #03506F;
        --scheme-calc-operation-btn-border: #03506F;
        --scheme-calc-operation-text: #fff;

        
    }
}

html, body {
    height: 100%;
}

body {
    background-color: var(--scheme-body-background);
    color: var(--scheme-body-text);
    transition: background-color var(--ease-animate),
                color var(--ease-animate);
}

header {
    text-align: center;
    padding: 1rem 0;
}

form.calculator {
    // width: min(85%, 25vw);
    width: min(55rem, 100vw - 5rem);
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: var(--border-radius);
    
    .calculator-display {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 9vh;
        margin: 0 var(--margin-spacing) 0.25em;
        font-size: 2em;
        text-align: right;
        background-color: var(--scheme-display-background-colour);
        color: var(--scheme-display-text-colour);
        border-radius: var(--border-radius);
        padding: 0.5rem 1rem;
        transition: background-color var(--ease-animate),
                    color var(--ease-animate);
        overflow: auto hidden;
        

        #prevOperand {
            font-size: 1.75rem;
            height: 1rem;
            flex: 1;
        }
        #currentOperand {
            font-weight: bold;
            font-size: 4.5rem;
        }
    }

    .calculator-btn-row {
        display: flex;
        width: 100%;
        justify-content: end;


        button.calculator-btn {
            position: relative;
            color: var(--scheme-calc-number-text);
            background-color: var(--scheme-calc-number-btn);
            border-color: var(--scheme-calc-number-btn-border);
            border-radius: var(--border-radius);
            margin: var(--margin-spacing);
            width: calc(100% / 4);
            height: 4em;
            font-size: 2rem;
            cursor: pointer;
            font-weight: bold;
            border: 1px solid #e7e7e7;
            transition: transform 0.25s ease,
                        box-shadow 0.25s ease,
                        background-color 0.25s ease,
                        border-color 0.25s ease;

            &.active,
            &:active {
                transform: scale(1.05);
                box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 25%);
            }

            &:hover {
                background-color: var(--scheme-calc-number-btn-hover);
                border-color: var(--scheme-calc-number-btn-hover-border);
            }

            &[data-calc-operation] {
                background-color: var(--scheme-calc-operation-btn);
                border-color: var(--scheme-calc-operation-btn-border);
                color: var(--scheme-calc-operation-text);

                &:hover {
                    background-color: var(--scheme-calc-operation-btn-hover);
                    border-color: var(--scheme-calc-operation-btn-hover-border);
                }
            }
            &.equals {
                background-color: var(--calc-operation-equals-btn);
                border-color: var(--calc-operation-equals-btn-border);
                color: var(--calc-operation-equals-text);
                &:hover {
                    background-color: var(--calc-operation-equals-btn-hover);
                    border-color: var(--calc-operation-equals-btn-hover-border);
                }
            }
            &.clear-all {
                background-color: var(--calc-operation-clearall-btn);
                border-color: var(--calc-operation-clearall-btn-border);
                color: var(--calc-operation-clearall-text);
                &:hover {
                    background-color: var(--calc-operation-clearall-btn-hover);
                    border-color: var(--calc-operation-clearall-btn-hover-border);
                }
            }
            &.big-btn {
                width: calc(112% / 2);
                flex-grow: 2;
            }
        }
    }
}